
{% extends 'base.html '%}.
{% load static %}
{% block 'main' %}

<div class="row mt-5"><!---- row2 start-->
    <div class="col-md-4 bg-primary-subtle" >
        <h5>Filter by Category</h5>
        <hr>
        <p><a href="/home3" class="anchor">By All</a></p>
        <p><a href="/catfilter/1" class="anchor">by Mobile</a></p>
        <p><a href="/catfilter/2" class="anchor">By Shoes</a></p>
        <p><a href="/catfilter/3" class="anchor">By colths</a></p>
        <h5>Filter by Price Range</h5>
        <hr>
        <form action="/range">
          <div class="mb-3">
            <label for="one" class="form-label">Min:</label>
            <input type="number" class="form-control"name="min" id="one" placeholder="Enter Min Value">
          </div>
          <div class="mb-3">
            <label for="two" class="form-label">Max:</label>
            <input type="number" class="form-control" name="max" id="two" placeholder="Enter Max Value">
          </div>
          <div class="mb-3">
          <button type="submit" class="btn btn-danger" value="serach">register</button>
          </div>
        </form>
        <h5>Sort By Price</h5>
        <hr>
        <p><a href="/sort/0" class="anchor">Low to High</a></p>
        <p><a href="/sort/1" class="anchor">High to Low</a></p>

    </div>
    <div class="col-md-8">
          <div class="row">
              <!-- row start image -->
              {% for x in products %}
              <div class="col-md-4  pt-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{ x.pimage.url }} " class="card-img-top" alt="..." width="100px" height="300px">
                  <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p class="card-text">Rs.{{x.price}}</p>
                    {% if x.cate == 1 %}
                    <p class="card-text">Mobile</p>
                    {% elif x.cate == 2 %}
                    <p class="card-text">shoes</p>
                    {% else %}
                    <p class="card-text">cloth</p>
                    {% endif %}


                    <a href="/pd/{{x.id}}" class="btn btn-primary">See Details</a>
                  </div>
                </div>
               </div>
              {% endfor %}
              <!-- <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'asset/images/im5.jpg' %} " class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Rs.2000</p>
                    <a href="#" class="btn btn-primary">See Details</a>
                  </div>
                </div>                               
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'asset/images/im5.jpg' %} " class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Rs.2000</p>
                    <a href="#" class="btn btn-primary">See Details</a>
                  </div>
                </div>                  
              </div>
            </div> -->
            <!-- row img end -->
     </div>

</div><!---- row2 end-->

{% endblock 'main' %}

